@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.earth-rotation {
    animation: rotate 50s linear infinite; /* Adjust duration and timing function as needed */
}
